body{
   background-image: url("background.jpeg");
   margin: 0; padding: 0;
   font-family: 'Courier New', Courier, monospace;
}

header{
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    grid-template-rows: 50px;
    background-color: aqua;
}
ul li{
    display: inline-block;
    list-style: none;
    padding: 5px;

}
header .logo{
    padding: 10px;
}
header nav ul li a{
        text-decoration: none;
        font-size: 16px; font-weight: bold; 
        color: aliceblue;
        transition: all 0.5s ease; 
}
header nav ul li a:hover{
    color: rgb(49, 36, 36);
}


/* responsible proparty */

@media screen and (min-width: 900px) {
    .ico-mobile{
        display: none;
    }
}

@media screen and (max-width: 900px) {
    main{
        margin-top: 90px;
        margin-right: 0;
    }
    header ul{
        display: none;
    }
    .ico-mobile{
        margin-top: 10px;
    }
    .ico-mobile>a{
        text-decoration: none;
    }
    .ico-mobile>a>span{
        color: antiquewhite;
        font-size: 35px;
    }
    .ico-mobile>a>span:hover{
        color: rgb(49, 36, 36);
    }
}