body{
    background-image: url("background.jpeg");
    height: 900px; width: 100%;
}

header{
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    grid-template-rows: 50px;
    background-color: aqua;
}
ul li{
    display: inline-block;
    list-style: none;
    padding: 5px;

}
header .logo{
    padding: 10px;
}
header nav ul li a{
        text-decoration: none;
        font-size: 16px; font-weight: bold; font-family: 'Courier New', Courier, monospace;
        color: aliceblue; 
}